<a href="https://colab.research.google.com/github/Morrisbang/Pandas-/blob/main/DataFrame/DataFrameEdit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 프레임의 마스킹

In [24]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1, 10, (2, 2)), index=[0, 1], columns=["A", "B"])
#데이터 프레임 출력하기
print(df)
#컬럼 A의 원소가 5보다 작거나 같은지 확인
print(df["A"]<5)
df_small=df["A"]<5
#컬럼 A의 원소가 5보다 작고, 컬럼 B의 원소가 8보다 작은 행 추출
df_out=df.query("A<=5 and B<=8")
print(df_out)

   A  B
0  5  5
1  7  5
0    False
1    False
Name: A, dtype: bool
   A  B
0  5  5

In [46]:
import pandas as pd

df = pd.DataFrame([[1,2,3,4],[1,2,3,4,]], index = [0, 1], columns=["A", "B", "C", "D"])
print(df)

df= df.apply(lambda x:x+1)

print(df)

def addOne(x):
  return x + 1

df = df.apply(addOne)
print(df)

   A  B  C  D
0  1  2  3  4
1  1  2  3  4
   A  B  C  D
0  2  3  4  5
1  2  3  4  5
   A  B  C  D
0  3  4  5  6
1  3  4  5  6

데이터 프레임의 개별 연산

In [56]:
#replace를 이용하면 셀의 값을 바꿀 수 있다.
import pandas as pd

df = pd.DataFrame([[1,2,3,4],[1,2,3,4,]], index = [0, 1], columns=["A", "B", "C", "D"])
print(df)


df = pd.DataFrame([[1,2,3],[1,2,3]], index = [1, 2], columns=["A", "B", "C"])
print(df)

df=df.replace({3:"A"})
print(df)

   A  B  C  D
0  1  2  3  4
1  1  2  3  4
   A  B  C
1  1  2  3
2  1  2  3
   A  B  C
1  1  2  A
2  1  2  A

데이터 프레임의 그룹화

In [69]:
import pandas as pd
df = pd.DataFrame([["Furit",2,3],["Vegetable",2,3],["Vegetable",4,5],["Furit",6,7]], index = [1, 2, 3, 4], columns=["A", "B", "C"])
print(df)

print(df.groupby(['A']).sum())
#df_group=df.groupby(['A']).sum()
#print(df_group)

           A  B  C
1      Furit  2  3
2  Vegetable  2  3
3  Vegetable  4  5
4      Furit  6  7
           B   C
A
Furit      8  10
Vegetable  6   8

In [71]:

import pandas as pd
df = pd.DataFrame([["Furit",2,3],["Vegetable",2,3],["Vegetable",4,5],["Furit",6,7]], index = [1, 2, 3, 4], columns=["A", "B", "C"])
print(df)
#aggregate는 그룹화 한 것에 대하여 데이터 정리를 해줌
print(df.groupby(['A']).aggregate([min, max, np.average]))

           A  B  C
1      Furit  2  3
2  Vegetable  2  3
3  Vegetable  4  5
4      Furit  6  7
            B               C
          min max average min max average
A
Furit       2   6       4   3   7       5
Vegetable   2   4       3   3   5       4

In [72]:
import pandas as pd

df = pd.DataFrame([
  ['Apple', 7, 5, 'Fruit'],
  ['Banana', 3, 6, 'Fruit'],
  ['Beef', 5, 2, 'Meal'],
  ['Kimchi', 4, 8, 'Meal']],
  columns=["Name", "Frequency", "Importance", "Type"])


#프레임 중 Frequency의 값의 평균이 5이상인 데이터만 가져와서
def my_filter(data):
  return data["Frequency"].mean() >= 5

#필터링 하는 것. 
#Type으로 그룹화 한 것 중에 my_filter의 조건을 넘긴 값만 남겨라.
print(df)
df = df.groupby("Type").filter(my_filter)
print(df)

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit
2    Beef          5           2   Meal
3  Kimchi          4           8   Meal
     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['Apple', 7, 5, 'Fruit'],
  ['Banana', 3, 6, 'Fruit'],
  ['Beef', 5, 2, 'Meal'],
  ['Kimchi', 4, 8, 'Meal']],
  columns=["Name", "Frequency", "Importance", "Type"])

# Type으로 그룹화 한 것 중에 Fruit type만 가져오는 함수 get_group
df = df.groupby("Type").get_group("Fruit")
print(df)

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ['Apple', 7, 5, 'Fruit'],
  ['Banana', 3, 6, 'Fruit'],
  ['Beef', 5, 2, 'Meal'],
  ['Kimchi', 4, 8, 'Meal']],
  columns=["Name", "Frequency", "Importance", "Type"])

#제일 많이 사용하는 유형이라고 함
df["Gap"] = df.groupby("Type")["Frequency"].apply(lambda x: x - x.mean())
print(df)

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
  np.random.randint(1, 10, (4, 4)),
  #index 다중화
  index=[['1차', '1차', '2차', '2차'], ['공격', '수비', '공격', '수비']],
  columns=['1회', '2회', '3회', '4회']
)

print(df)
print(df[["1회", "2회"]].loc["2차"])

피벗 테이블의 기초

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame([
    ['Apple', 7, 5, 'Fruit'],
    ['Banana', 3, 6, 'Fruit'],
    ['Coconut', 2, 6, 'Fruit'],
    ['Rice', 8, 2, 'Meal'],
    ['Beef', 5, 2, 'Meal'],
    ['Kimchi', 4, 8, 'Meal']],
   columns=["Name", "Frequency", "Importance", "Type"])

#피벗테이블을 통해서 데이터 프레임을 바꿔줌
print(df)
df = df.pivot_table(
    index="Importance", columns="Type", values="Frequency",
    aggfunc=np.max
)
print(df)